* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

.wrapper{
    width: 100vw;
    padding: 0 2vw;
    margin: 2vh auto;
    height: 80vh;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1vw;
    
}

.image__container{
    border-radius: 0.5rem;
    width: 20%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image__container:nth-child(1){
    background-image: url('images/image1.jpg')
}

.image__container:nth-child(2){
    background-image: url('images/image2.jpg')
}

.image__container:nth-child(3){
    background-image: url('images/image3.jpg')
}

.image__container:nth-child(4){
    background-image: url('images/image4.jpg')
}

.image__container:nth-child(5){
    background-image: url('images/image5.jpg')
}


.active{
    animation-name: spreadImage;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-timing-function: linear;
    width: 100%;
}

.currentActive {
    width: 100%;
}

@keyframes spreadImage {
    from{width: 20%}
    to{width: 100%}
}

/* MOBILE to 600px */


@media (max-width: 600px) {

    .wrapper{
        width: 100vw;
        height: 70vh;
        margin: 20% auto;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        row-gap: 2vh;
    }
    
    .image__container{
        height: 30%;
        width: 100%;
    }

    .currentActive {
        height: 200%;
    }

    .active{
        height: 200%;
    }

    @keyframes spreadImage {
        from{height: 20%}
        to{height: 200%}
    }


}